.card {
    padding: 0.5rem;
    margin: 5rem;
    border: 4px solid #6AA84F;
}

* {
    /* font-family: 'Comic Sans MS', 'Comic Sans', cursive; */
    font-family: 'Play', sans-serif;
}

#logo {
    font-family: 'Carter One', sans-serif;
}

h2 {
    text-align: center;
}